<p id="devise_title">ログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="divese_main">
    <div id="devise_form_group">
      <div class="field">
        <%= f.label :email, "メールアドレス", id:"devise_label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <div id="test">
          <p id="devise_underline"></p>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", id:"devise_label" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
        <div id="test">
          <p id="devise_underline"></p>
        </div>
      </div>
    </div>
  </div>

  <p id="profile_form_submit_group">
    <button type='submit' id="profile_form_submit">ログインする</button>
  </p>
<% end %>


