<!DOCTYPE html>
<html>
  <head>
    <title>PRUMRailsAcademy423</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div id="header_left">
        <h1>My Portfolio</h1>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
