<!DOCTYPE html>
<html>
  <head>
    <title>PRUMRailsAcademy423</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  </head>

  <body>
    <div id="header">
      <div id="header_left">
        <%= link_to "My Portfolio", root_path, id: "header_title" %>
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_url, method: :delete %>
          <%= link_to "ログイン情報更新", edit_user_registration_url %>
        <% else %>
          <%= link_to "ログイン", new_user_session_url %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
